.cover__subtitle {
    font-style: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    vertical-align: Top;
    color: #ffffff;
    max-width: 360px;
    margin: 32px auto 0 auto;
    
    }
    @media screen and (max-width: 1024px) {
        .cover__subtitle {
        }
    }
    @media screen and (max-width: 768px) {
        .cover__subtitle {
    
        }
    }
    @media screen and (max-width: 425px) {
        .cover__subtitle {
            margin-top: 16px;
            font-size: 14px;
            line-height: 1.14;
            width: calc(100% - 32px);
        }
    }