.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-top: 12px;
}
.place__link:hover {opacity: 0.5; 
    transition: opacity 0.1s ease; } 