.cover__overlay {
    background-color: rgba(42, 44, 47, 0.3);
    width: 100%;
    z-index: 1;
    text-decoration: none;
}
.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.6);
    transition: background-color 2s ease; 
}